html{
font-family: a-otf-ud-shin-go-pr6n, sans-serif;
font-weight: 300;
font-style: normal;
}
body{
    margin: 0;
    position: absolute;
    width: 100%;
    background: #333;
    color: #ccc;
}
div#titlearea {
    position: relative;
    height: 650px;
}
#title{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 142px;
    line-height: 127px;
    position: absolute;
    width: 20%;
    left: -2%;
    text-align: left;
    top: 175px;
    z-index: 3;
    color: #888;
}
#subtitle {
     font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style:italic;
    font-size: 15px;
    letter-spacing: 1px;
    position: absolute;
    margin-top: 30px;
    left: 5%;
    width: 70%;
    left: 25%;
    text-align: right;
    z-index: 3;
    color: #aaa;
}
.title_pic{
    position: absolute;
    width: 85%;
    left: 15%;
    top: 0;
    z-index: 1;
}
.title_pic_PC{
    display: none;
}
#area_title{
    position: relative;
    font-size: 42px;
    font-family: 'neue-haas-grotesk-display','a-otf-ud-shin-go-pr6n';
    font-weight: 600;
    font-style: normal;
    color: #ccc;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#area_mypage #area_title{
    font-size: 22px;
    font-weight: 400;
}
#area_mypage{
    width: 90%;
    left: 5%;
    position: relative;
    top: 150px;
}
#pic_meta_detail #area_title{
    font-size: 30px;
}
#area_sentence{
    margin-bottom: 100px;
     font-family: 'neue-haas-grotesk-display','a-otf-ud-shin-go-pr6n';
}
#comment_sentence{
    margin-bottom: 20px;
    font-size: 13px;
}
#area_1 {
    position: relative;
    width: 80%;
    left: 10%;
    font-size: 13px;
}
#button_1{
    font-family: 'neue-haas-grotesk-display','a-otf-ud-shin-go-pr6n';
    font-weight: 600; 
    font-style: normal;
    font-size: 22px;
    width: 60%;
    left: 20%;
    position: relative;
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid;
}
#area_icons{
    position: relative;
    width: 80%;
    left: 10%;
}
.snsicon {
    width: 14%;
    margin-left: 15%;
    position: relative;
}
#footer{
    background: #555;
    color: #ccc;
}
#footer_title {
    font-size: 20px;
    width: 90%;
    left: 5%;
    position: relative;
    top: 30px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}
#footer_title2 {
   font-size: 19px;
    width: 87%;
    background: #ccc;
    color: #555;
    left: 10%;
    letter-spacing: 3px;
    text-align: left;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 50px;
    position: relative;
    padding-left: 3%;
}
table#menus {
    height: 150px;
    width: 80%;
    text-align: center;
    left: 10%;
    position: relative;
    text-decoration: none;
    margin-top: 20px;
    letter-spacing: 2px;
    font-family: neue-haas-grotesk-display, sans-serif; 
    font-weight: 400;
    font-style: normal;
}
a{
    text-decoration: none;
    color: #ccc; 
}
#footer_sentence{
    margin-top: 20px;
    width: 80%;
    left: 10%;
    font-size: 13px; 
    position: relative;
    text-align: center;
}
#footer_names{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9px;
    text-align: center;
    margin-top: 50px;
    padding-bottom:10px;
    letter-spacing: 1px;
}
#footer #area_icons{
    position: relative;
    width: 70%;
    left: 15%;
    margin-top: 20px; 
}
#loading_screen{
    display: block;
    opacity: 1;
    height: 1200px;
    position: fixed;
    z-index: 4;
    width: 100%;
    top: 0;
    background: #333;
}
#loading_bar{
    position: fixed;
    height: 6px;
    top: 300px;
    background:#aaa;
    z-index:5;
}
#loading_count{
    position: fixed;
    width: 20%;
    left: 40%;
    text-align: center;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style:italic;
    color:#aaa;
    z-index:5;
}
.sum {
    position: relative;
    width: 33.33%;
    vertical-align: top;
    margin: 0;
    display: block;
    float: left;
}
#row_change {
    position: fixed;
    z-index: 3;
    width: 35%;
    left: 65%;
    top: 50px;
}
img.row_logo {
    width: 20%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #bbb0;
}
#pic_3rows{
    width: 100%;
    position: relative;
    top: 200px;
    display: none;
    opacity: 0;
}
#pic_other {
    width: 100%;
    position: relative;
    top: 10px;
    padding-bottom: 50px;
    height: 250px;
}
#gallery_title{
    width: 50%;
    position: fixed;
    left: 5%;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    color: #aaa;
    margin-top: 40px;
    font-size: 52px;
    z-index: 3;
    letter-spacing: 5px;
}
#gallery_subtitle{
     font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style:italic;
    font-size: 13px;
    letter-spacing: 1px;
    position: fixed;
    margin-top: 30px;
    left: 5%;
    width: 70%;
    left: 5%;
    text-align:left;
    z-index: 3;
    color: #aaa;
}
#pic_1row {
    position: relative;
    top: 200px;
}
.pic_1 {
    margin-bottom: 50px;
    display: block;
    opacity: 1;
} 
.pic_row {
    width: 70%;
    left: 15%;
    position: relative;
    /* padding-bottom: 30px; */
}
#pic_meta {
    width: 70%;
    left: 15%;
    position: relative;
}

#pic_meta_detail {
    width: 80%;
    left: 10%;
    position: relative;
}
#pic_title {
    float: left;
    width: 100%;
    top: 10px;
    position: relative;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'neue-haas-grotesk-display','a-otf-ud-shin-go-pr6n';
    margin-bottom: 5px;
    border-bottom: 1px solid;
}
#pic_grade {
    font-size: 16px;
    position: relative;
    float: left;
    letter-spacing: 2px;
    top: 10px;
    margin-right: 10%;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: italic;
}
#pic_name {
    position: relative;
    top: 10px;
    font-size: 14px;
}
#onelogo{
    border-bottom: 2px solid #bbb;
}
#caption {
    position: relative;
    top: 100px;
}
#picss{
    position: relative;
    width: 80%;
    left: 10%;
    margin-bottom:20px; 
}
#pic_s{
    position: relative;
    margin-top: 100px;
}
#favoritebtn {
    position: relative;
    margin-top: 20px;
    font-size: 16px;
    width: 30%;
    height: 60px;
    padding: 5px;
}
#writebox{
    position: relative;
    opacity: 0;
    display: none;
    padding-top: 20px;
    margin-top: 40px;
    padding-bottom: 20px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
#button_2 {
    font-family: 'neue-haas-grotesk-display','a-otf-ud-shin-go-pr6n';
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    width: 60%;
    left: 20%;
    position: relative;
    text-align: center; 
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: 2px solid; 
    border-left: 1px solid;
    border-right: 1px solid;*/
    background: #888;
    color: white;
}

#picture_big #button_2{
    margin-bottom: 250px;
}

#commentbox {
    position: relative;
    margin-top: 50px;
    padding: 2%;
    background: #555;
    width: 95%;
    border-radius: 10px;
}
textarea.writebox {
    width: 95%;
    background: #888;
    border: none;
    -webkit-appearance: none;
    font-family: 'neue-haas-grotesk-display','a-otf-ud-shin-go-pr6n';
}
#comment_sentence {
    margin-bottom: 20px;
    font-size: 13px;
     font-family: 'neue-haas-grotesk-display','a-otf-ud-shin-go-pr6n';
}
#comment_time {
    font-family: 'neue-haas-grotesk-display','a-otf-ud-shin-go-pr6n';
    font-style: italic;
    letter-spacing: 2px;
}
#area_caption{
    margin-top: 40px;
     font-family: 'neue-haas-grotesk-display','a-otf-ud-shin-go-pr6n';
    margin-bottom: 40px;
    font-size: 14px;
}
#boox{
    position: relative;
    width: 100%;
    height: 70px;
}
#pic_updown {
    display: none;
}
#other_meta{
    position: relative;
    margin-bottom: 20px; 
    width: 100%;
    border-bottom: 1px solid;
    height: 35px;
}
#picture_big{
   display: none;
    opacity: 0;
    height: 100%;
    background: #333;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

#big_meta {
    font-family: 'neue-haas-grotesk-display','a-otf-ud-shin-go-pr6n';
    width: 95%;
    position: fixed;
    padding-left: 5%;
    z-index: 4;
    padding-top: 20px; 
    background: #8888;
    /* border-top: 1px solid; */
    height: 100px;
    color: #ccc;
}
#big_grade {
    position: relative;
    float: left;
    font-size: 14px;
}
#big_name {
    position: relative;
    left: 10%;
    font-size: 12px;
}
#big_title {
    font-size: 22px;
}#pic_b {
    width: 100%;
    /* top: 200px; */
    position: relative;
    margin-bottom: 60px;
}
#thumbnail {
    position: relative;
    display: none;
}
#bigone {
    margin-top: 150px;
}
.f_icon,.f_icon_activate{
    width: 25%;
    position: absolute;
}
.f_icon_activate{
    display: none;;
}
#favoritebtn {
    position: relative;
    margin-top: 40px;
    font-size: 16px;
    width: 40%;
    height: 50px;
    cursor: pointer;
}
#log_IP_W{
    font-size: 18px;
    font-weight: 600;
    color: #aa0000;
}
div#loginbox {
    position: relative;
    width: 80%;
    left: 8%;
    top: 250px;
    background: #ccc;
    padding: 2%;
     font-family: 'neue-haas-grotesk-display','a-otf-ud-shin-go-pr6n';
}
#loginbox input{
    border: none;
    width: 100%;
    font-size: 20px;
    text-align: center;
    -webkit-appearance: none;
    font-family: 'neue-haas-grotesk-display','a-otf-ud-shin-go-pr6n';
}
#picture_create input{
    border: none;
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ccc;
    -webkit-appearance: none;
    font-family: 'neue-haas-grotesk-display','a-otf-ud-shin-go-pr6n';
}
#picture_create textarea{
    width: 100%;
}
#picture_create2 input{
    border: none;
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ccc;
    -webkit-appearance: none;
     font-family: 'neue-haas-grotesk-display','a-otf-ud-shin-go-pr6n';
}
#picture_create2 textarea{
    width: 100%;
}
button[type="submit"] {
    margin-top: 30px;
    width: 100%;
    font-size: 20px;
    border: none;
    font-family: 'neue-haas-grotesk-display','a-otf-ud-shin-go-pr6n';
    text-align: center;
    background: #fff;
    -webkit-appearance: none;
}
#workbox {
    width: 100%;
    position: relative;
    height: 150px;
}
#picture_names {
    position: relative;
    top: 40px;
    font-size: 22px;
    left: 10%;
    width: 90%;
} 
select{
    width: 100%;
    border: none;
    font-size: 20px;
    background: #fff;
     -webkit-appearance: none;
     font-family: 'neue-haas-grotesk-display','a-otf-ud-shin-go-pr6n';
}
#login{
    font-family: 'neue-haas-grotesk-display','a-otf-ud-shin-go-pr6n';
}
#activity_title {
    font-size: 20px;
    border-bottom: 1px solid;
    margin-bottom: 30px;
}
#boxs {
    margin-top: 10px;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}
#complete_sentence{

    margin-bottom: 50px;
    color: green;
    border-bottom: 2px solid;
    font-size: 20px;
    font-weight: 800;
    position: relative;
    width: 90%;
    left: 5%;
}
#exhibition_survey {
    width: 80%;
    position: relative;
    left: 10%;
    top: 80px;
    font-family: 'neue-haas-grotesk-display','a-otf-ud-shin-go-pr6n';
}
#survey_number {
    font-size: 26px;
    margin-top: 50px;
    font-family: neue-haas-grotesk-display, sans-serif;
    FONT-WEIGHT: 600;
}
#survey_question {
    border-bottom: 1px solid;
    margin-bottom: 20px;
}