html,body{
	width: 100%;
	margin: 0;
	font-family: "aileron Light","源暎ゴシックP Light";
}
.topP{
	display: none;
}
.topPH {
    width: 80%;
	left: 20%;
    position: absolute;
    z-index: 2;
}

.logo{
	display: none;
}
.menu{
	position: absolute;
	top: 0;
	display: none;
	width: 7%;
	left: 93%;
}
.open{
	position: absolute;
	top: 550px;
	width: 4%;
	left:48%;
	cursor: pointer;
}
#title {
    font-size: 26px;
    position: relative;
    padding-left: 5%;
    padding-right: 3%;
    width: 100%;
	padding-top: 10px;
    text-align: left;
	color: white;
	background: rgba(50,50,50,0.5);
    letter-spacing: 2px;
    top: 410px;
	z-index:3;
   
}

#since{
	font-size: 16px;
	position: relative;
	padding-left: 5%;
    padding-right: 3%;
    width: 100%;
	padding-bottom: 10px;
    text-align: left;
	color: white;
	background: rgba(50,50,50,0.5);
	letter-spacing: 2px;
	top: 410px;
	z-index:3;
}
#bar{
	height: 4px;
	top: 300px;
	width: 100%;
	position: absolute;
	display: none;
	background: black;
	z-index: 1;
}
.menubar {
    list-style-type: none;
    letter-spacing: 0.5px;
    text-align: right;
    position: fixed;
	display: none;
    width: 10%;
    left: 85%;
    top: 70px;
}
li{
  position: relative;
  display: inline-block;
	width: 100%;
	padding-bottom: 4px;
  text-decoration: none;
}

li::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
li:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);

}
.activate{
	background: black;
	color: white;
}
#areatitle {
    color: #eeeeee;
    position: absolute;
    top: 110px;
    left: 5%;
    height: 30px;
    font-size: 26px;
    letter-spacing: 1px;
    padding-left: 2%;
    border-left: 30px solid #eeeeee;
}
#newpage{
	opacity: 0;
}
#newbox {
    width: 20%;
    position: absolute;
    color: white;
    height: 135px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    padding-left: 1%;
    top: 200px;
}
#detail {
    left: 60%;
    position: relative;
}

#date {
    font-size: 12px;
}
#boxtitle {
    font-size: 24px;
    margin-top: 5px;
}
a{
	color: black;
	text-decoration: none;
}
#sentence {
	margin-top: 5px;
    font-size: 12px;
}
.B1{
	left: 5%;
}.B2{
	left: 30%;
}.B3{
	left: 55%;
}
#newtable {
    position: absolute;
    color: white;
    font-size: 12px;
    left: 5%;
    top: 400px;
}

td{
	padding-right: 15px;
}
#newmore {
    color: white;
    position: absolute;
    top: 450px;
    left: 75%;
    padding: 15px;
    border: 1px solid white;
	cursor: pointer;
}
#footer {
    display: block;
    opacity: 1;
    position: absolute;
    font-family: "aileron Light","源暎ゴシックP Light";
    color: white;
    font-size: 14px;
   
    margin-top: 600px;
    width: 100%;
    height: 600px;
    background: #444444;
}
#footer #title {
    position: relative;
}
#title2 {
    position: relative;
    letter-spacing: 2px;
    margin-top: 40px;
    font-size: 16px;
    width: 60%;
    text-align: center;
    left: 20%;
    padding-bottom: 10px;
    border-bottom: 2px solid #eeeeee;
}

#footer #names {
    font-size: 9px;
    color: #c1cad3;
    position: relative;
    margin-top: 50px;
    width: 100%;
    letter-spacing: 1px;
    text-align: center;
}
#sentencearea{
    width: 60%;
    position: relative;
    color: #eeeeee;
    margin-top: 10px;
    font-size: 12px;
    left: 20%;
    letter-spacing: 2px;
    text-align: center;
}
#social {
    position: relative;
   margin-top: 10px;
    left: 25%;
    width: 50%;
}
.twitter {
    position: relative;
    width: 30%;
    left: 5%;
}

.facebook {
    position: relative;
    width: 28%;
    left: 35%;
}
#menus {
    position: relative;
    margin-top: 20px;
    color: #eeeeee;
    width: 80%;
    left: 10%;
    text-align: center;
}

#menus tr {
    width: 50%;
    letter-spacing: 3px;
    left: 25%;
    position: relative;
}
#loginto{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-top: 25px;
} 
#cookie{
    position: fixed;
    background: rgba(50,50,50,0.5);
    color: white;
    font-size: 10px;
}