@font-face {
  font-family: 'aileron Light';
  src: url('Aileron-Light.woff') format('woff');
}@font-face {
  font-family: 'Agency';
  src: url('AGENCYR.woff') format('woff');
}

@font-face {
  font-family: '源暎ゴシックP Light';
  src: url('GenEi-subset.woff') format('woff');
}@font-face {
  font-family: '源暎ゴシックP';
  src: url('GenEiGothicN-Regular2.woff') format('woff');
}
html,body{
	width: 100%;
	margin: 0;
	font-family: "Agency","源暎ゴシックP";
	color: #eeeeee;
	background: #c1c1c1;
}
.topP{
    width: 70%;
    position:relative;
    left: 15%;
    top: 160px;
	z-index: 2;
}
.topPH {
    width: 70%;
	left: 0%;
    position: absolute;
    z-index: 2;
}
.topP2{
	display: none;
}
.logo{
	display: none;
}
.menu{
	position: fixed;
	top: 0;
	z-index: 5;
	display: block;
	width: 20%;
	left: 80%;
}
.open{
	position: absolute;
	top: 460px;
	width: 10%;
	left:45%;
	cursor: pointer;
}
.backpic {
    position: absolute;
    width: 70%;
    left: 30%;
    top: 0px;
}
#title {
    position: relative;
    margin-top: 450px;
    width: 55%;
    padding-left: 5%;
    font-size: 30px;
    letter-spacing: 2px;
    background: #444444;
}
#subtitle {
    position: relative;
    width: 55%;
    padding-left: 5%;
    font-size: 16px;
    background: #444444;
}
#title2 {
    position: relative;
    margin-top: 20px;
    width: 55%;
    padding-left: 5%;
    font-size: 30px;
    letter-spacing: 2px;
    background: #444444;
}
#subtitle2 {
    position: relative;
    width: 55%;
    padding-left: 5%;
    font-size: 16px;
    background: #444444;
}
#topixtitle {
    position: relative;
    margin-top: 280px;
    width: 55%;
    padding-left: 5%;
    font-size: 30px;
    letter-spacing: 2px;
    background: #444444;
}
#topixbox{
    margin-top: 30px;
    position: relative;
    width: 75%;
    left: 10%;
    padding-left: 2%;
    color: #444444;
    border-left: 2px solid;
}
#title3{
    font-size: 24px;
}#title4{
    font-size: 20px;
}
.topixpic{
    position: relative;
    margin-top: 15px;
}
#topixsentence{
    margin-top: 10px;
    width: 100%;
    font-size: 11px;
    letter-spacing: 2px;
    color: #444444;
}
#announce{
    position: relative;
    margin-top:100px;
    color: #aa0000;
    border:#aa0000 solid 2px;
    letter-spacing: 2px;
    font-size: 11px;
    width: 80%;
    left: 10%;
    text-align: left;
}
#sentence{
    position: relative;
    margin-top:30px;
    color: #444444;
    letter-spacing: 2px;
    font-size: 11px;
    width: 80%;
    left: 10%;
    text-align: left;
}
#button {
    width: 45%;
    margin-left: 3%;
    padding-top: 15px;
    margin-top: 15px;
    position: relative;
    font-size: 18px;
    float: left;
    color: #444444;
    border-bottom: 2px solid;
    border-right: 2px solid;
}
#buttonarea{
    position: relative;
    height: 150px;
}
#footer {
    display: block;
    opacity: 1;
    position: absolute;
    font-family: "aileron Light","源暎ゴシックP Light";
    color: white;
    font-size: 14px;
   
    margin-top: 200px;
    width: 100%;
    height: 750px;
    background: #444444;
}
#footer a{
    color: #eeeeee;
    text-decoration: none;
}
#footer #title {
     font-size: 26px;
    margin-top: 0;
    position: absolute;
    padding-left: 5%;
    padding-right: 3%;
    width: 50%;
	padding-top: 10px;
    text-align: left;
	font-size: 16px;
    letter-spacing: 3px;
    top: 20px;
	z-index:3;
    position: relative;
}
td {
    border-bottom: 1px solid #888888;
    width: 50%;
}
#footer #title2 {
    position: relative;
    letter-spacing: 2px;
    margin-top: 40px;
    font-size: 16px;
    padding-left: 0;
    width: 60%;
    color: #eeeeee;
    text-align: center;
    left: 20%;
    padding-bottom: 10px;
    border-bottom: 2px solid #eeeeee;
}




#footer #names2 {
    font-size: 9px;
    color: #c1cad3;
    position: relative;
    margin-top: 50px;
    width: 100%;
    letter-spacing: 1px;
    text-align: center;
}
#sentencearea{
    width: 60%;
    position: relative;
    color: #eeeeee;
    margin-top: 10px;
    font-size: 12px;
    left: 20%;
    letter-spacing: 2px;
    text-align: center;
}#sentencearea2{
    width: 80%;
    position: relative;
    color: #eeeeee;
    margin-top: 10px;
    font-size: 12px;
    left: 10%;
    letter-spacing: 2px;
    text-align: center;
}
#social {
    position: relative;
   margin-top: 10px;
    left: 25%;
    width: 50%;
}
.twitter {
    position: relative;
    width: 22%;
    top: 5px;
    left: 0;
}


#menus {
    position: relative;
    margin-top: 20px;
    color: #eeeeee;
    width: 80%;
    left: 10%;
    text-align: center;
}

#menus tr {
    width: 50%;
    letter-spacing: 3px;
    left: 25%;
    position: relative;
}
#loginto{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-top: 25px;
} 
.N1{
    left:5%;
}.N2{
    left: 90%;
    top: 140px;
}
#name {
    font-size: 18px;
    width: 10%;
    position: absolute;
}
#sentence3 {
    text-align: center;
    font-size: 13px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    left: ;
    position: absolute;
}
.S31{
    top: 80px;
    border-bottom: 1px solid #222222;
    padding-bottom: 25px;
}
.S32{
    top:170px;
}
#access{
    margin-top:230px;
}
img {
    width: 100%;
}
#sentence1c{
    font-size:19px;
    padding-top: 15px;
    text-align: center;
    margin-bottom: 20px;
    width: 80%;
    margin-left: 10%;
}
#sentence2c{
     font-size: 11px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
.font{
    font-family: serif;
    margin-top: 10px;
}
.facebook {
    position: relative;
    width: 18%;
    left: 45%;
}
.menubar {
    list-style-type: none;
    letter-spacing: 2px;
    text-align: right;
    position: fixed;
    display: none;
	opacity: 0;
    margin-top: 0px;
    z-index: 6;
    width: 30%;
    margin-left: 100%;
    padding-left: 10%;
    padding-right: 5%;
    height: 800px;
    color: #222222;
    font-family: "aileron Light","源暎ゴシックP Light";
    background: rgba(200,200,200,0.8);
    top: 0px;
    padding-top: 70px;
}

#close {
    margin-top: -60px;
    margin-bottom: 30px;
    font-size: 40px;
    font-family: "aileron Light";
}

li {
  position: relative;
  display: inline-block;
	width: 100%;
    color: black;
	padding-bottom: 4px;
	margin-bottom: 15px;
  text-decoration: none;
}

li::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
li:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);

}
.activate{
	border-bottom: 2px solid black;
}
#sentencea{
    position: relative;
    margin-top:30px;
    color: #444444;
    border:#444444 solid 2px;
    letter-spacing: 2px;
    font-size: 11px;
    width: 80%;
    left: 10%;
    text-align: left;
}
.titlepic{
    position: absolute;
    top: 100px;
}
.sum {
    width: 30%;
    position: relative;
    left: 4%;
    top: 20px;
}
#directory{
    display: none;
    opacity:0;
}
#caption{
    display: none;
    opacity:0;
}
.pics {
    width: 80%;
    left: 10%;
    position: relative;
    margin-top: 25px;
}
#title5 {
    position: relative;
    left: 10%;
    width: 80%;
    margin-top: 20px;
    color: #444444;
    font-size: 24px;
}
    #sentence5 {
    position: relative;
    left: 10%;
    width: 80%;
    margin-top: 20px;
    color: #444444;
    font-size: 16px;
}
#back{
    position: relative;
    clear: both;
    left: 10%;
    margin-top: 30px;
    top: 20px;
    width: 50%;
    background: #444444;
    font-size: 20px;
}
#opening {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 700px;
    background: #9a9a9a;
    z-index: 4;
}
#logo1 {
    position: fixed;
    top: 200px;
    font-size: 38px;
    left: 10%;
    width: 70%;
    text-align: center;
}
#logo2 {
    position: fixed;
    font-size: 38px;
    top: 250px;
    width: 20%;
    text-align: center;
    left: 52%;
}
#logo1back{
    position: absolute;
    top: 200px;
    height: 50px;
    width: 70%;
    left: 10%;
    background: #9a9a9a;
}#logo2back{
    position: absolute;
    top: 250px;
    height: 50px;
    width: 20%;
    left: 52%;
    background: #9a9a9a;
}
#border {
    width: 3px;
    height: 150px;
    top: 180px;
    background: #eeeeee;
    transform: skewX(-24deg);
    position: fixed;
    left: 77%;
}#borderback {
    width: 200px;
    height: 150px;
    top: 180px;
    background: #9a9a9a;
    position: fixed;
    left: 67%;
}
#picbefore,#picafter{
    position: relative;
    float: left;
    letter-spacing: 2px;
    height: 100px;
    margin-top: 30px;
    width: 45%;
}
#picbefore{
    left: 3%;
    padding-right: 1%;
}#picafter{
    left: 5%;
    padding-left: 1%;
    border-left: 2px solid #444444;
}
.picsbefore,.picsafter{
    position: relative;
    width:40%;
}
.picsbefore{
    left: 10%;
}.picsafter{
    left: 50%;
}
#lefty{
    left: 10%;
    color:#444444;
}#righty{
    left: 80%;
    color:#444444;
    text-align: right
}
iframe.twitter-timeline    {
    width: 80% !important;
    padding-left: 10% !important;
    border-radius:0 !important;
    box-shadow:none !important;
    font:  "aileron Light","源暎ゴシックP Light" !important;
    padding:10px;
    font-size: 14px;
}