html,body{
    margin: 0px;
    font-family: 'futura-pt','noto-sans-cjk-jp';
    position: relative;
    color: #333;
    color: #ddd;
    font-weight: 300;
}

/* room105.php*/

img.top_pic_PC {
    width: 100%;
    position: fixed;
    top: -50px;
    z-index: 0;
}
div#titlearea {
    z-index: 3;
    position: relative;
    color: #ddd;
    width: 50%;
    left: 25%;
    margin-top: 150px;
    text-align: center;
}
#title {
    font-size: 72px;
    letter-spacing: 5px;
    font-weight: 400;
}
#title_sub {
    font-size: 26px;
    letter-spacing: 4px;
    font-weight: 300;
}
#datearea {
    position: relative;
    color: #ddd;
    font-weight: 300;
    width: 50%;
    text-align: center;
    left: 25%;
    margin-top: 50px;
    letter-spacing: 3px;
}
#namearea {
    position: relative;
    color: #ddd;
    width: 80%;
    left: 10%;
    text-align: center;
    font-weight: 300;
    margin-top: 50px;
}
#area_1 {
    position: relative;
    top: 200px;
    width: 90%;
    left: 5%;
}
#area_title {
    font-size: 48px;
    letter-spacing: 10px;　
}
#area_sub {
    font-size: 14px;
    letter-spacing: 2px;
}
